body {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
header {
  text-align: center;
  color: rgb(249, 251, 252);
  font-size: x-large;
  padding: 1rem;
}
.selection-container {
  text-align: center;
}
.selection-container label {
  margin-right: 1rem;
  font-size: large;
  font-weight: 600;
  color: rgb(249, 251, 252);
  padding: 1rem;
}
#citySelect {
  padding: 0.5rem;
  font-size: large;
  border-radius: 0.5rem;
  outline: none;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content h2 {
  padding: 0.5rem;
  text-align: center;
  color: rgb(252, 252, 252);
}
.weather-card {
  text-align: center;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 180px;
}
.min-max {
  font-weight: 500;
}
.date {
  font-weight: 500;
}
.date-day {
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 950px) {
  .card-container {
    max-width: 900px;
    margin: 0 auto;
  }
}
